// Theme Colours
$primary: #ff4e51;
$secondary: #276df9;
$accent: #303030;
$lightBackground: #ffffff;
$darkBackground: #000000;
$lightText: #ffffff;
$darkText: #000000;
$adminRed: #ce3535;

// Basic Colours
$gray: #f3f3f3;
$darkGray: #8f8f8f;
$red: #ff0000;
$blue: #0000ff;
$black: #000000;
$white: #ffffff;
